@charset "utf-8";
/*   메인컬러 #e21a22   */

#wrap {}

#keyimage {
    width: 100%; height: 960px; 
    background: #000;
}
#keyimage .keyimage {text-align: center;}
.keyimage .empty { 
    margin-bottom: 100px; padding-top: 100px;
}
.keyimage .empty h1 {color: #fff;}
.keyimage .img {
    width: 750px; height: 450px; line-height: 450px;
    background: #eee; 
    font-size: 46px;
}



#content {
    width: 100%; _height: 1000px;
    background: #000;
}
#content .content {
    max-width: 1200px; margin: 0 auto;
    text-align: center;
}
.content .empty {
    width: 100%; border-bottom: 1px solid #fff;
    text-align: center; 
    margin-bottom: 50px;
}
.content .empty h1 {color: #fff;}
.content .con {
    width: 100%; height: 3000px;
    background: #eee; font-size: 46px;
}
































































































